/* Global styles */
@font-face {
    font-family: Gruppo;
    src: url('./Gruppo-Regular.ttf')
}

.nohighlight{
    text-decoration: none;
    color:black;
}

#back:hover,
#reset:hover,
#contact:hover {
    cursor: pointer;
}

body {
    font-family: Gruppo;
    touch-action: none;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
}

#footer {
    z-index: 1  ;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

canvas {
    display: block;
}

a{
    color: red;
}

#scene {
    margin: 0;
    padding: 0;
    width: 98%;
    height: 98%;
}

#p5 {
    visibility: hidden;
    height: 0%;
    width: 0%;
}

#things {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalWrapper{
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 85%;
}

#modal {
    border: 5px solid black;
    display: flex;
    background-color: white;
}


#projimg {
    height: 100%;
}

#imgimgimg {
    width: 100%;
    height: 100%;
}

#text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#_detail {
    width: 80%;
    padding: 1em;
    overflow-y: scroll;
}

#summary {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#carousell {
    width: 100%;
    height: 100%;
}

/* large devices */
@media only screen and (min-width: 800px) {
    #projimg {
        width: 40%;
        height: 100%;
    }

    #header {
        font-size: 2.25em;
        width: 90%;
    }

    #footer {
        font-size: 2em;
        width: 80%;
    }

    #things {
        width: 80vw;
        height: 80vh;
    }

    #modal {
        border: 5px solid black;
        width: 95%;
        height: 75%;
    }

    #text,
    #summary {
        font-size: 2em;
    }

}

/* small devices */
@media only screen and (max-width: 800px) {
    #header {
        font-size: 2.25em;
        width: 95%;
    }
    #footer {
        font-size: 1.25em;
        width: 80%;
    }

    #things {
        width: 80vw;
        height: 72vh;
    }

    #modal {
        border: 5px solid black;
        left: -28em;
        width: 50em;
        height: 75%;
    }

    #text,
    #summary {
        font-size: 2em;
    }
}

.mySlides {
    display: flex;
    width: 100%;
    height: 95%;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#slideControl {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: auto;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
